/* Box shadows from https://codepen.io/sdthornton/pen/wBZdXq*/

#app {
	font-family: 'Roboto', sans-serif;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding:0;
	margin:0;
}
.app-section {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100vh;
	flex-flow: column;
}
#poster-section, #normal-section {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: #002b36;
}
.main-text {
	background-color: white;
	color: black;
}
.no-background-text {
	background: transparent;
}
.purple-text {
	color: purple;
}
.italic-text {
	font-style: italic;
}
.translucent-text {
	opacity: 0.8;
}
#corner-wrap {
	position: absolute;
	right: 5vmin;
	bottom: 5vmin;
}
#upper-right-wrap {
	position: absolute;
	right: 5vmin;
	top: 5vmin;
}
#upper-left-wrap {
	position: absolute;
	left: 5vmin;
	top: 5vmin;
}
.main-text-wrap {
	font-size: 10vmin;
	text-align: center;
	margin: 10vmin;
}
.text-1 {
	font-size: 150%;
}
.text-2 {
	font-size: 80%;
}
.text-3 {
	font-size: 50%;
}
.text-4 {
	font-size: 25%;
}
.button {
	background-color: rgba(255,255,255,.8);
	color: black;
	padding: 1vmin;
	margin: 1vmin;
	font-size: 3vmin;
	text-decoration: none;
	transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1), border-radius .5s, background-color .5s;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	display: inline-block;
	cursor: pointer;
	border-radius: 20px;
}
.button:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	background-color: white;
	border-radius: 4px;
}
.button-icon {
	height: 5vmin;
}
.button--flat {
	background-color: transparent;
	box-shadow: none;
}
.text-input {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	padding: 0;
	font-size: 3vmin;
	border: none;
	border-bottom: 2px solid #777;
	outline: none;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:1;
	width: 30vmin;
	height: 5vmin;
}
.search {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
}
.search-results-wrap {
	position: absolute;
	z-index: 999;
}
.search-results--item {
	font-size: 80%;
	margin: 5vmin;
}
.search-results-item-secondary {
	font-style: italic;
	color: #555;
}
@media print {
	#corner-wrap {
		display: none;
	}
}
.panel {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	background-color: rgba(255,255,255,.8);
	border-radius: 20px;
	padding: 5px;
}
.panel-solid {
	background-color: white;
}
.button-bar {
	display: flex;
	align-items: center;
}

/* https://codepen.io/P1N2O/pen/pyBNzX */


@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.gradient-bg {
	background: linear-gradient(-45deg, #EE7752, #E73C7E) !important;
	background-size: 400% 400% !important;
	-webkit-animation: Gradient 3s ease infinite !important;
	-moz-animation: Gradient 3s ease infinite !important;
	animation: Gradient 3s ease infinite !important;
}
