#app {
	font-family: 'Share', sans-serif;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding:0;
	margin:0;
}
.app-section {
	display: flex;
	align-items: center;
	padding: 5vh 5vw;
	padding:0;
	margin:0;
	width: 100%;
	height: 100vh;
}
#poster-section, #normal-section {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: #002b36;
}
.main-text {
	background-color: white;
}
#corner-wrap {
	position: absolute;
	right: 5vmin;
	bottom: 5vmin;
}
#upper-right-wrap {
	position: absolute;
	right: 5vmin;
	top: 5vmin;
}
#upper-left-wrap {
	position: absolute;
	left: 5vmin;
	top: 5vmin;
}
.main-text-wrap {
	font-size: 10vmin;
	text-align: center;
	margin: auto;
}
.text-2 {
	font-size: 80%;
}
.text-3 {
	font-size: 50%;
}
.button {
	background-color: white;
	color: black;
	padding: 1vmin;
	margin: 1vmin;
	font-size: 3vmin;
	text-decoration: none;
	transition: box-shadow .5s,transform .5s;
	display: inline-block;
	cursor: pointer;
}
.button:hover {
	box-shadow: 1vmin 1vmin black;
	transform: scale(1.1);
}
#poster-section .main-text {
	color: purple;
}
.button-icon {
	height: 5vmin;
}
.text-input {
	margin: 0;
	font-family: 'Share', sans-serif;
	padding: 0;
	font-size: 3vmin;
	border: none;
	outline: none;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:1;
	width: 30vmin;
	height: 5vmin;
}
#search-form {
	margin: 0;
	padding: 0;
	display: flex;
}
@media print {
	#corner-wrap {
		display: none;
	}
}